* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Nunito', sans-serif;
}

.fixed-top {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* Header */
header {
  background-color: #fff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.container {
  max-width: 1200px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

header.nav-fixed {
  height: auto;
  padding: 10px;
}

.navbar-nav {
  text-align: center;
}

.white {
  background: white;
}

header.nav-fixed {
  padding: 0px;
  background-color: #fff;
  height: 70px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-brand span i {
  display: inline-block;
  color: #dc4f72
}

.navbar {
  padding: 0;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  color: #dc4f72
}

.navbar .navbar-brand span.fa {
  display: inline-block;
  color: #dc4f72;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 15px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #dc4f72
}

a.nav-link::before,
a.dropdown-item::before {
  position: absolute;
  content: '';
  background: #dc4f72;
  width: 0px;
  height: 2px;
  bottom: 13px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
  width: 20px;
}

.theme-button {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}

.btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  transition: all 0.5s;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 400;
  color: #2c3038;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #dc4f72;
}

a.dropdown-item {
  font-weight: 400;
  font-size: 16px;
  color: #2c3038;
  position: relative;
  padding-top: 0;
  padding-bottom: 14px;
  transition: all 0.5s;
}

a.dropdown-item:hover {
  color: #dc4f72;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: '';
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-40px);
}

.navbar-toggler-icon.fa {
  line-height: 1.2em;
  color: #fff;
  line-height: 34px;
  background-color: #dc4f72;
  border-radius: 5px;
}


.navbar button[aria-expanded="true"]>span.close {
  display: inline;
}

.navbar button[aria-expanded="true"]>span.navbar-toggler-icon {
  display: none;
}

.navbar button[aria-expanded="false"]>span.close {
  display: none;
}

.close {
  background-color: #dc4f72;
  color: white;
  border-radius: 1px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  opacity: unset;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  left: 50%;
  transform: translate(-50%, 0);
}

/* @media screen and (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
      transform: translate(122%);
  }
} */


/* banner */
/* .w3l-index1 {
  margin-top: 90px;
} */
.w3l-index1 .content {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #ffffff;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../img/banner.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
}

.w3l-index1 .content-left h3 {
  font-size: 50px;
  line-height: 57.5px;
  color: #2c3038;
  font-weight: 700;
}

.w3l-index1 .content-left p {
  color: #5a5a5a;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
}

.w3l-index1 .content-photo img {
  transform: rotate(180deg);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}


/* CHOOSE */
.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.header-section h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.header-section p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  max-width: 750px;
}

.w3l-index2 .s-block {
  border-radius: 6px;
  transition: 0.3s ease-in;
  background: #f7f9fc;
  padding: 3rem 2rem;
  border: 1px solid #f7f9fc;
}

a,
a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

.w3l-index2 .s-block h3 {
  color: #2c3038;
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
}

.w3l-index2 .s-block p {
  color: #5a5a5a;
  margin-top: 15px;
  font-size: 16px;
  line-height: 24.5px;
}

.w3l-index2 .s-block:hover {
  transition: 0.3s ease-in;
  background-color: #ffffff;
  border: 1px solid #eee;
  transform: translateY(-10px);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

/* ABOUT */
.w3l-index3 {
  background-color: #f7f9fc;
}

.w3l-index3 .book-info p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #5a5a5a;
  line-height: 24.4px;
}

.btn-primary {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.btn-primary:hover {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
}

img.img-curve {
  border-radius: 6px;
  transition: 0.3s ease-in-out;

}

img.img-curve:hover {
  transform: translateY(-10px);
}

.w3l-index3 .book-info h3 {
  font-size: 35px;
  line-height: 40px;
  color: #2c3038;
  font-weight: 700;
}













/* Duy */
.w3l-stats .stats_info h4 {
  font-size: 16px;
  line-height: 24.5px;
  text-transform: capitalize;
  color: #2c3038;
  font-weight: 700;
}

.w3l-stats .counter {
  font-size: 50px;
  line-height: 1;
  color: #dc4f72;
  margin-bottom: 0;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}

.w3l-stats .stats_info {
  background-color: #fff;
  padding: 2rem;
  border: 1px solid #eee;
  border-radius: .5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 15px 45px;





}

.w3l-stats .stats_info3 {
  margin-top: 24px;

}

/* Wearetrue */
.Wearetrue .new-block {
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;
  padding: 2rem 0;
}



.Wearetrue .middle-section h2 {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;

}

.Wearetrue .link-list-menu p {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
}

.theme-button {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}

/* Explore */
.Explore {
  background-color: #fff;
}

.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.header-section h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.header-section p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  max-width: 750px;
}

.Explore .grids5-info {
  border-radius: .5rem;

  display: block;
  height: 100%;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  transform: translateY(0);
  transition: .3s ease-in;
}

.Explore .grids5-info:hover {
  transform: translateY(-20px);
}

.Explore .grids5-info img {
  border-top-left-radius: .5rem;
  filter: grayscale(1);
  transition: 0.3s ease-in-out;

}

.Explore .grids5-info:hover img {
  filter: grayscale(0);
  transition: 0.3s ease-in-out;
}

.Explore .grids5-info a {
  border-top-right-radius: .5rem;

}

.Explore .zoom {
  overflow: hidden;
  position: relative;
}

.Explore .grid-view .date {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
  padding-bottom: 0px;
  position: absolute;
  top: 0;
  background: #dc4f72;
  padding: 15px;
  margin-bottom: 0;
  right: 0;
  margin-top: 0;
}

.Explore label.tag-label {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 25px;
}

.blog-info {
  padding: 30px 20px;

}

.blog-info .red {
  background: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
}

.blog-info .green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}

.blog-info .blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}

.blog-info h4 a {
  font-size: 22px;
  line-height: 27px;
  color: #2c3038;
  display: block;
  font-weight: 600;
}

.blog-info h4 a:hover {
  color: #dc4f72;
  text-decoration: none;
}

.blog-info p {
  font-size: 16px;
  line-height: 24.5px;
  color: #5a5a5a;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.blog-info .btn-news {
  padding: 0;
  color: #dc4f72;
  transition: 0.3s ease-in-out;
  border-radius: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

.blog-info .btn-news i {
  font-size: 60%;
  vertical-align: middle;
  padding-left: 0px;
  position: absolute;
  right: -13px;
  top: 7.5px;
  transition: 0.3s ease-in;
}

.blog-info .grids5-info:hover a.btn-news i {
  right: -16px;
  transition: 0.3s ease-in;
}

.blog-info .btn-news:hover i {
  right: -16px;
  transition: 0.3s ease-in;
}

/* General */
.General {
  background-color: #f7f9fc;
}

.General .faq-image .img-fluid {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  transform: translateY(0);
  transition: .3s ease-in-out;
  border-radius: .5rem;
}

.General .faq-image:hover .img-fluid {
  transform: translateY(-15px);
}

.General .faq-page ul {
  list-style: none;
  padding: 0;
  max-width: 750px;
  margin: 0 auto;
}

.General .faq-page ul li {
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 1px solid #eee;
  margin: 0 0 15px 0;
  border-radius: .5rem;
  background: #fff;
}

.General .faq-page ul li a {
  text-decoration: none;
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  color: #2c3038;
}

.card {
  border: white;
  color: #5a5a5a;
}





/* Giang */

.Completed .title h1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.Completed .title h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}

ul.resp-tabs-list {
  display: flex;
  justify-content: center;
}

.resp-tabs-list li {
  font-weight: 600;
  font-size: 30px;
  display: inline-block;
  padding: 13px 15px;

  list-style: none;
  cursor: pointer;
  float: left;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #c1c1c1;
}

.resp-tabs-container {
  padding: 0px;
  /* background-color: #fff; */
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-item {
  background-color: none;

}

.resp-tab-content {
  display: none;
  padding: 15px;
  background-color: #f5f5f5;
  border: none;
}

.resp-tab-active {
  border: none;
  margin-bottom: 0 !important;
  padding: 12px 14px 14px 14px !important;
  border-top: none;
  border-bottom: 3px solid #dc4f72 !important;
  color: #dc4f72;
  background-color: none !important;
}

/* .resp-tab-active {
  border-bottom: none;
  background-color: #fff;
} */

.resp-content-active,
.resp-accordion-active {
  display: block;
}

.resp-tab-content {
  /* border: 1px solid #c1c1c1; */
  /* border-top-color: #5AB1D0; */
}

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  /* border-bottom: 0px solid #c1c1c1 !important; */
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

.tab .content_info,
.tab .content_img {
  float: left;
  width: 50%;
}

.tab .content_img img {
  width: 100%;
  border-radius: 10px;
  transition: all .8s;
}

.tab .content_img img:hover {
  transform: translateY(-10px);
}

.tab .content_info button {
  background-color: white;
  color: #dc4f72;
  border: 1px solid #dc4f72;
  border-radius: 3px;
  padding: 10px;
  margin: 20px 0;
  transition: all 0.8s;
}

.tab .content_info button:hover {
  background-color: #dc4f72;
  color: white;
}

.tab .content_info {
  padding: 0 10px;
}


/*-----------Accordion styles-----------*/
h2.resp-tab-active {
  background: #DBDBDB;
  /* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
  display: block;
}

.resp-easy-accordion .resp-tab-content {
  border: 3px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
  border-bottom: 1px solid #c1c1c1;
  /* !important;*/
}

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active {
  display: block;
}

h2.resp-accordion:first-child {
  border-top: 1px solid #c1c1c1;
  /* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
  ul.resp-tabs-list {
    display: none;
  }

  h2.resp-accordion {
    display: block;
  }

  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1;
  }

  .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: 100px;
    clear: none;
  }

  .resp-accordion-closed {
    display: none !important;
  }

  .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
  }

  .tab .content_info,
  .tab .content_img {
    float: none;
    width: 100%;
    padding: 0;
  }

  .tab .content_info h2 {
    width: 100%;
  }

  .resp-tab-content {
    padding: 10px 0;
  }
}












@media screen and (max-width:992px) {
  .Completed {
    padding: 0 60px;
  }
}

@media screen and (max-width:576px) {
  .Completed {
    padding: 0 60px;
  }

  .Completed .title h3 {
    font-size: 32px;
    line-height: 42px
  }

  .Completed .title p {
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
  }



}







/* Ready to  */
.Readyto .info .info_left,
.info_right {
  float: left;
  /* width: 50%; */
}

.Readyto .info_one,
.info_two,
.info_three {
  float: left;
  width: 30%;
}

.Readyto .info_one ul,
.info_two ul,
.info_three ul {
  list-style: none;
}

.Readyto .info_left {
  width: 60%;
}

.Readyto .info_right {
  width: 40%;
}

.Readyto .info_left .info_two {
  margin: 0 30px 0 20px;
}

.Readyto .info_one ul a,
.info_two ul a,
.info_three ul a {
  text-decoration: none;

}

.info_right button {
  padding: 10px 30px;
  background-color: #dc4f72;
  border: none;
  border-radius: 5px;
  color: white;
  outline: 0px;
}

.info_right .inputemail {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
}

.Readyto .buttondemo {
  margin: 0 20px;
  padding: 10px;
  border-radius: 5px;
  border-color: #dc4f72;
  border: 1px solid #dc4f72;
  background-color: white;
  color: #dc4f72;
  transition: all 0.8s;
}

.Readyto .buttondemo:hover {
  color: white;
  background-color: #dc4f72;
}

.Readyto .buttondemo {
  outline: 0px;
}

.Readyto .buttonstarted {
  padding: 10px;
  border-radius: 5px;
  border-color: #dc4f72;
  border: 1px solid #dc4f72;
  background-color: #dc4f72;
  color: white;
  outline: 0px;
}

.Readyto .title h2 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.Readyto .title p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.info_one h4 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}

.info_two h4 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}

.info_three h4 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}

.info_right h4 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}

.info_left li a {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
}

.inputemail {
  outline: 0;
}

@media screen and (max-width:992px) {
  .Readyto .title h2 {
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
  }

  .Readyto .title p {
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width:576px) {
  .Readyto .title h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .Readyto .title p {
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
  }

  .Readyto .info_one,
  .info_two,
  .info_three {
    float: none;
  }

  .Readyto .info_left .info_two {
    margin: 0;
  }

  .Readyto .info .info_left,
  .info_right {
    float: none;
  }

  .info_two h4 {
    width: 140%;
    margin: 0;
  }

  .info_three h4 {
    width: 140%;
    margin: 0;
  }

  .info_right p {
    width: 200%;
  }

  .info_right .inputemail {
    display: inline-block;
  }
}



/* Whatpeople */
/* .Whatpeople_item img{
    /* width: 97px; */
/* height: 97px; */
/* border-radius: 50px; */
/* border: 2px solid #dc4f72; */

.owl-carousel .owl-item img {
  width: 100%;
  border-radius: 50%;
  /* object-fit: cover; */
  height: 100%;
}

.img-circle {
  width: 365px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
}

.Whatpeople_item {
  display: flex;
  justify-content: center;
  background-color: #fff;
  gap: 15px;
  border-radius: 10px;
  padding: 50px 0px;
}

.Whatpeople_item p {
  line-height: 2;
}

.Whatpeople {
  padding: 40px o;
  margin: 40px 0;
}

.owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 5px;
  margin: 5px 5px;
  background: #fff;
  display: block;
  border: none;
  /* -webkit-backface-visibility: visible; */
  transition: opacity 0.2s ease;
  border-radius: 0;
  position: relative;
  outline: none;
}

.owl-dots {
  text-align: center;
}

.owl-dots button {
  outline: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #dc4f72;
}

.Whatpeople {
  background-image: url(../img/b2.jpg);
  width: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* .Whatpeople_overlay {
  padding: 0 100px;
} */

.Whatpeople .title h3 {
  color: #dc4f72;
}

.Whatpeople .title h2 {
  color: black;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

.Whatpeople .title p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width:992px) {
  .Whatpeople .title h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .Whatpeople .title h2 {
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
  }

  .Whatpeople .title p {
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (max-width:576px) {
  .Whatpeople .title h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .Whatpeople .title h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .Whatpeople .title p {
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
  }
}

/* footer */
.w3l-footer .w3l-footer-16-main {
  background: #f7f9fc;
}

.w3l-footer .py-5 {
  padding-bottom: 3rem !important;
}

.w3l-footer .py-5 {
  padding-top: 3rem !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.w3l-footer .w3l-footer-16-main h3 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}

.w3l-footer .footer-gd-16 li {
  display: block;
  list-style: none;
  margin: 10px 0;
}

.w3l-footer .end-column {
  background-color: #fff;
  padding: 2em;
  border-radius: .5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.w3l-footer .w3l-footer-16-main h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}

.w3l-footer form {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.w3l-footer .w3l-footer-16-main p {
  line-height: 22px;
  color: #5a5a5a;
  font-size: 16px;
}

.w3l-footer .below-section {
  justify-content: space-between;
}

.w3l-footer .below-section {
  border-top: 1px solid #eaeaea;
}

.text-center {
  text-align: center;
}

.w3l-footer .w3l-footer-16-main p {
  line-height: 22px;
  color: #5a5a5a;
  font-size: 16px;
}

.w3l-footer ul.social li,
.w3l-footer ul.jst-link li {
  display: inline-block;
  margin-right: 5px;
  list-style-type: none;
}

.w3l-footer .subscribe button {
  text-align: center;
  background: #dc4f72;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: .5rem;
}

.w3l-footer .subscribe input[type="email"] {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: #2c3038;
  font-weight: 600;
  border-radius: .5em;
}

.w3l-footer .w3l-footer-16-main p a {
  color: #2c3038;
}

.w3l-footer .w3l-footer-16-main p a:hover {
  color: #dc4f72;
  opacity: 0.8;
}

a,
a:hover {
  text-decoration: none;
}

.w3l-footer .footer-gd-16 li a {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
}

.w3l-footer .footer-gd-16 li a:hover {
  opacity: 0.8;
  color: #dc4f72;
}

.w3l-footer ul.social li a {
  color: #2c3038;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.w3l-footer ul.social li a:hover {
  color: #dc4f72;

}

@media screen and (max-width:992px) {
  .w3l-footer .below-section {
    display: block !important;
    text-align: center;
  }
}

@media screen and (max-width:576px) {
  .w3l-footer .below-section {
    display: block !important;
    text-align: center;
  }
}


.clear {
  clear: both;
}



.backToTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.backToTop i {
  width: 50px;
  height: 50px;
  background: #dc4f72;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all .2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
}
.pss i{
  font-size: 30px;
  opacity: 0.2;
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
  .img-circle {
    width: 488px;
  }
}


@media screen and (max-width: 576px) {
  .img-circle {
    width: 103px;
    margin-left: 139px;
  }

  .Whatpeople_item {
    display: block;
  }

  .Whatpeople_item p {
    text-align: center;
  }

  .pss i {
    position: absolute;
    left: 225px;
    top: 159px;
    font-size: 27px;
    opacity: 0.2;
  }


}


@media screen and (max-width: 480px) {
  .stats_info {
    width: 350px;
  }
}