* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

.padding {
  padding: 40px 0;
}

body {
  font-family: Roboto, sans-serif;
  font-family: 'Nunito', sans-serif;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* Completed */
/* tab */


/* body {
  margin: 0px;
  padding: 0px;
  /* background: #f5f5f5; */
  /* font-family: 'Segoe UI'; */
/* } */ */
.Completed .title h1{
  font-family: 'Nunito', sans-serif;
}








/* Old tab */
.tab-content .item_right,
.item_left {
  float: left;
  width: 50%;
}

.tab-content img {
  width: 90%;
  border-radius: 10px;
  transition: all 0.5s;
}

.tab-content img:hover {
  transform: translateY(-10px);
}

.tab_content .item_right p,
.item_left p {
  color: #5a5a5a;

}
.tab-content .item_left h2{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.tab-content .item_right button,
.item_left button {
    border-radius: 5px;
    padding: 10px;
    color: #dc4f72;
    border: 1px solid #dc4f72;

}

.tab-content .item_right button:hover,
.item_left button:hover {
  background-color: #dc4f72;
  color: white;
  transition: all 0.8s;
}

.nav-tab {
  text-align: center;
}
.Completed .title h1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
}

.Completed .title h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.Completed {
  padding: 0 100px;
}

.tab-content {
  margin: auto;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  outline: 0;
  color: #4e5b61;
  border-bottom: 5px solid #dc4f72;
}
@media screen and (max-width:992px){
  .Completed{
    padding: 0 60px;
  }
}
@media screen and (max-width:576px){
  .Completed{
    padding: 0 60px;
  }
  .Completed .title h3{
    font-size: 32px;
    line-height: 42px
  }
  .Completed .title p{
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
  }
  .tab-content .item_right, .item_left{
    float: none;
  }
  .tab-content .item_right, .item_left{
    width: 100%;
  }
  .tab-content .item_right button, .item_left button{
    margin-bottom: 20px;
  }
}







/* Ready to  */
.Readyto .info .info_left,
.info_right {
  float: left;
  /* width: 50%; */
}

.Readyto .info_one,
.info_two,
.info_three {
  float: left;
  width: 30%;
}

.Readyto .info_one ul,
.info_two ul,
.info_three ul {
  list-style: none;
}

.Readyto .info_left {
  width: 60%;
}

.Readyto .info_right {
  width: 40%;
}

.Readyto .info_left .info_two {
  margin: 0 30px 0 20px;
}

.Readyto .info_one ul a,
.info_two ul a,
.info_three ul a {
  text-decoration: none;

}

.info_right button {
  padding: 10px 30px;
  background-color: #dc4f72;
  border: none;
  border-radius: 5px;
  color: white;
  outline: 0px;
}

.info_right .inputemail {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
}

.Readyto .buttondemo {
  margin: 0 20px;
  padding: 10px;
  border-radius: 5px;
  border-color: #dc4f72;
  border: 1px solid #dc4f72;
  background-color: white;
  color: #dc4f72;
  transition: all 0.8s;
}

.Readyto .buttondemo:hover {
  color: white;
  background-color: #dc4f72;
}

.Readyto .buttondemo {
  outline: 0px;
}
.Readyto .buttonstarted {
  padding: 10px;
  border-radius: 5px;
  border-color: #dc4f72;
  border: 1px solid #dc4f72;
  background-color: #dc4f72;
  color: white;
  outline: 0px;
}
.Readyto .title h2 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.Readyto .title p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.info_one h4 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}
.info_two h4 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}

.info_three h4 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}

.info_right h4 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}

.info_left li a {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
}
.inputemail {
  outline: 0;
}
@media screen and (max-width:992px){
  .Readyto .title h2{
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
  }
  .Readyto .title p{
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width:576px){
  .Readyto .title h2{
    font-size: 32px;
    line-height: 42px;
  }
  .Readyto .title p{
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
  }
  .Readyto .info_one, .info_two, .info_three{
    float: none;
  }
  .Readyto .info_left .info_two{
    margin: 0;
  }
  .Readyto .info .info_left, .info_right{
    float: none;
  }
  .info_two h4{
    width: 140%;
    margin: 0;
  }
  .info_three h4{
    width: 140%;
    margin: 0;
  }
  .info_right p{
    width: 200%;
  }
  .info_right .inputemail{
    display: inline-block;
  }
}



/* Whatpeople */
/* .Whatpeople_item img{
    /* width: 97px; */
/* height: 97px; */
/* border-radius: 50px; */
/* border: 2px solid #dc4f72; */

.owl-carousel .owl-item img {
  width: 100%;
  border-radius: 50%;
  /* object-fit: cover; */
  height: 100%;
}

.img-circle {
  width: 450px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
}

.Whatpeople_item {
  display: flex;
  justify-content: center;
  background-color: #fff;
  gap: 15px;
  border-radius: 10px;
}


.owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 5px;
  margin: 5px 5px;
  background: #fff;
  display: block;
  border: none;
  /* -webkit-backface-visibility: visible; */
  transition: opacity 0.2s ease;
  border-radius: 0;
  position: relative;
  outline: none;
}

.owl-dots {
  text-align: center;
}

.owl-dots button {
  outline: none;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #dc4f72;
}

.Whatpeople {
  background-image: url(../img/b2.jpg);
  width: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* .Whatpeople_overlay {
  padding: 0 100px;
} */

.Whatpeople .title h3 {
  color: #dc4f72;
}
.Whatpeople .title h2 {
  color: black;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

.Whatpeople .title p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width:992px){
  .Whatpeople .title h3{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .Whatpeople .title h2{
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
  }
  .Whatpeople .title p{
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (max-width:576px){
  .Whatpeople .title h3{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .Whatpeople .title h2{
    font-size: 32px;
    line-height: 42px;
  }
  .Whatpeople .title p{
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
  }
}

/* footer */
.w3l-footer .w3l-footer-16-main {
  background: #f7f9fc;
}
.w3l-footer .py-5{
  padding-bottom: 3rem !important;
}
.w3l-footer .py-5{
  padding-top: 3rem !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.w3l-footer .w3l-footer-16-main h3 {
  font-size: 20px;
  line-height: 25px;
  color:#2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}
.w3l-footer .footer-gd-16 li {
  display: block;
  list-style: none;
  margin: 10px 0;
}
.w3l-footer .end-column {
  background-color: #fff;
  padding: 2em;
  border-radius: .5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.w3l-footer .w3l-footer-16-main h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}
.w3l-footer form {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
.w3l-footer .w3l-footer-16-main p {
  line-height: 22px;
  color:#5a5a5a;
  font-size: 16px;
}
.w3l-footer .below-section {
  justify-content: space-between;
}
.w3l-footer .below-section {
  border-top: 1px solid #eaeaea;
}
.text-center {
  text-align: center;
}
.w3l-footer .w3l-footer-16-main p {
  line-height: 22px;
  color: #5a5a5a;
  font-size: 16px;
}
.w3l-footer ul.social li, .w3l-footer ul.jst-link li {
  display: inline-block;
  margin-right: 5px;
  list-style-type: none;
}
.w3l-footer .subscribe button {
  text-align: center;
  background: #dc4f72;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius:  .5rem;
}
.w3l-footer .subscribe input[type="email"] {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color:#2c3038;
  font-weight: 600;
  border-radius: .5em;
}
.w3l-footer .w3l-footer-16-main p a {
  color: #2c3038;
}
.w3l-footer .w3l-footer-16-main p a:hover {
  color:#dc4f72;
  opacity: 0.8;
}
a, a:hover {
  text-decoration: none;
}
.w3l-footer .footer-gd-16 li a {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
}
.w3l-footer .footer-gd-16 li a:hover {
  opacity: 0.8;
  color: #dc4f72;
}
.w3l-footer ul.social li a {
  color: #2c3038;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.w3l-footer ul.social li a:hover {
  color: #dc4f72 ;
  
}
@media screen and (max-width:992px){
  .w3l-footer .below-section{
    display: block !important;
    text-align: center;
  }
}

@media screen and (max-width:576px){
  .w3l-footer .below-section{
    display: block !important;
    text-align: center;
  }
}
.resp-tabs-list {
  display: flex;
}
